/* ------------ HERO STYLES -------------- */
header {
	min-height: 800px;
	background: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	display: flex;
	flex-flow: column;
	margin-bottom: var(--mb-sections);
}

/* ------------------ GENERAL CONTACT STYLES ------------- */
.generalContact {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: start;
	align-content: start;
	margin-bottom: var(--mb-sections);
	column-gap: 10%;
}

.contactInfo {
	flex: 1;
}

.contactInfo .title {
	margin-bottom: 50px;
}

.contactInfo .content {
	max-width: 700px;
}

.contactInfo .content p {
	font-size: var(--text-size);
	font-family: Montserrat, sans-serif;
	font-weight: var(--mont-extralight);
	line-height: 1.9rem;
	color: var(--primary-color);
	margin-bottom: 2.5rem;
}

.contactInfo .content ul {
	font-size: var(--text-size);
	font-family: Montserrat, sans-serif;
	font-weight: var(--mont-extralight);
	line-height: 1.9rem;
	color: var(--primary-color);
}

.contactInfo .content ul li {
	margin-bottom: 1.1rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
	align-items: center;
	align-content: center;
	gap: 2rem;
}

.contactInfo .content ul li i {
	width: 20px;
}

.line {
	width: 100%;
	max-width: 550px;
	height: 1px;
	background-color: rgb(169, 169, 169);
	margin-bottom: 2.5rem;
}

.contactForm {
	flex: 1;
}

.contactForm .title {
	margin-bottom: 50px;
}

.contactForm form {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: start;
	align-content: start;
	gap: 1.25rem;
}

.contactForm form * {
	flex: 1;
	width: 100%;
	max-width: 550px;
	min-height: 60px;
	border: none;
	outline: none;
	background: none;
	border: 1px solid rgb(169, 169, 169);
	border-radius: 2px;
	font-family: Montserrat, sans-serif;
	font-weight: var(--mont-extralight);
	font-size: var(--size-text);
	padding: 1rem;
	transition: all 0.2s ease-in-out;
	resize: none;
}

.contactForm form input:focus,
.contactForm form textarea:focus {
	border-color: var(--detail-color);
}

.contactForm form textarea {
	min-height: 100px;
}

.contactForm form button {
	background-color: var(--primary-color);
	color: white;
	border: none;
	font-size: var(--selected-text);
	cursor: pointer;
	max-width: 350px;
	transition: all 0.3s ease-in-out;
}

.contactForm form button:hover {
	transform: translateY(-1px);
	background-color: var(--detail-color);
}

/* ------------------ MAP STYLES ------------- */
.map {
	height: 600px;
	width: 100%;
	margin-bottom: var(--mb-sections);
}

.map iframe {
	width: 100%;
	height: 100%;
}
/* ------------------ WORK WITH US STYLES ------------- */
.workWithUs {
	width: 90%;
	margin: 0 auto;
	margin-bottom: var(--mb-sections);
}

.workWithUs .title {
	text-align: center;
}

.workWithUs .title .sectionTitle {
	margin-bottom: 100px;
}

.workWithUs .content {
	display: flex;
	justify-content: center;
	align-items: start;
	align-content: start;
}

.workWithUs .content form {
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
	width: 100%;
	max-width: 1280px;
	gap: 1.25rem;
}

.workWithUs .content form textarea {
	grid-column: span 4 / auto;
	min-height: 225px;
}

.workWithUs .content form * {
	width: 100%;
	min-height: 60px;
	border: none;
	outline: none;
	background: none;
	border: 1px solid rgb(169, 169, 169);
	border-radius: 2px;
	font-family: Montserrat, sans-serif;
	font-weight: var(--mont-extralight);
	font-size: var(--size-text);
	padding: 1rem;
	transition: all 0.2s ease-in-out;
	resize: none;
}

.workWithUs .content form input:focus,
.workWithUs .content form textarea:focus {
	border-color: var(--detail-color);
}

.workWithUs .content form button {
	background-color: var(--primary-color);
	color: white;
	border: none;
	font-size: var(--selected-text);
	cursor: pointer;
	max-width: 350px;
	transition: all 0.3s ease-in-out;
	margin-inline: auto;
	grid-column: span 4 / auto;
}

.workWithUs .content form button:hover {
	transform: translateY(-1px);
	background-color: var(--detail-color);
}
/* ------------------ BANNER STYLES ------------- */
.banner {
	min-height: 700px;
	width: 100%;
	background: transparent;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: var(--mb-sections);
}
/* ------------------ FEATURED JOURNEYS STYLES ------------- */
.featuredJourneys {
	width: 90%;
	margin: 0 auto;
	margin-bottom: var(--mb-sections);
}
.featuredJourneys .title .sectionTitle {
	margin-bottom: 100px;
}

.journeys {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	text-align: center;
	column-gap: 2rem;
	row-gap: 4rem;
}

.journey {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.journey .image {
	height: 540px;
	aspect-ratio: 5 / 6;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 50px;
	position: relative;
}

.journey .image:hover::before {
	content: "";
	width: 100%;
	height: 100%;
}

.journey .image::before {
	content: "";
	width: 112%;
	height: 70%;
	background-color: var(--detail-color);
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 3px;
	z-index: -1;
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.4s ease-in-out;
}

.journey:first-child .image {
	background-image: url(../img/contact/london_thumb.jpg);
}
.journey:nth-child(2) .image {
	background-image: url(../img/contact/paris_thumb.jpg);
}
.journey:last-child .image {
	background-image: url(../img/contact/barcelona_thumb.jpg);
}

.journey span {
	font-family: "Sansation", sans-serif;
	font-size: var(--contact-cards-size);
	letter-spacing: 0.2rem;
}
/* ------------------ FEATURES MONUMENTS STYLES ------------- */
.featuredDestinations {
	width: 90%;
	margin: 0 auto;
	margin-bottom: var(--mb-sections);
}

.featuredDestinations .title {
	text-align: right;
}
.featuredDestinations .title .sectionTitle {
	margin-bottom: 100px;
}

.destinations {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	text-align: center;
	column-gap: 2rem;
	row-gap: 4rem;
}

.destination {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.destination .image {
	height: 540px;
	aspect-ratio: 5 / 6;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 50px;
	position: relative;
}

.destination .image:hover::before {
	content: "";
	width: 100%;
	height: 100%;
}

.destination .image::before {
	content: "";
	width: 112%;
	height: 70%;
	background-color: var(--detail-color);
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 3px;
	z-index: -1;
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.4s ease-in-out;
}

.destination:first-child .image {
	background-image: url(../img/contact/spain_thumb.jpg);
}
.destination:nth-child(2) .image {
	background-image: url(../img/contact/england_thumb.jpg);
}
.destination:last-child .image {
	background-image: url(../img/contact/france_thumb.jpg);
}

.destination span {
	font-family: "Sansation", sans-serif;
	font-size: var(--contact-cards-size);
	letter-spacing: 0.2rem;
}

/* ---------------- MEDIA QUERIES ------------ */
@media screen and (max-width: 1737px) {
	.journey:last-child,
	.destination:last-child {
		grid-column: span 2;
	}
}

@media screen and (max-width: 1280px) {
	.parallax-mirror {
		display: none;
	}
	header {
		background-attachment: scroll;
		background-image: url(../img/contact/hero_contact.jpg);
	}
	.banner {
		background-attachment: scroll;
		background-image: url(../img/contact/banner_contact.jpg);
	}
}

@media screen and (max-width: 1150px) {
	.journeys,
	.destinations {
		grid-template-columns: 1fr;
	}
	.journey,
	.destination {
		grid-column: span 2;
		justify-content: center;
	}

	.journey a,
	.destination a {
		width: 100%;
		max-width: 450px;
		display: flex;
		justify-content: center;
	}

	.journey .image,
	.destination .image {
		width: 88%;
		height: auto;
		aspect-ratio: 5 / 6;
	}
}

@media screen and (max-width: 960px) {
	.generalContact {
		flex-flow: column;
	}

	.contactInfo {
		margin-bottom: 100px;
	}

	.contactForm {
		width: 100%;
	}

	/* work with us */
	.workWithUs .content form {
		grid-template-columns: repeat(2, minmax(200px, 1fr));
	}

	.workWithUs .content input {
		grid-column: span 1;
	}

	.workWithUs .content textarea,
	.workWithUs .content button {
		grid-column: span 2 !important;
	}
}

@media screen and (max-width: 525px) {
	.workWithUs .content form {
		grid-template-columns: 1fr;
	}

	.workWithUs .content form * {
		grid-column: span 1 !important;
	}
}

@media screen and (max-width: 480px) {
	.headerContent {
		text-align: center;
		display: flex;
		flex-flow: column;
		align-items: center;
		align-content: center;
	}
}
